examples/example1.json
[{"id":"b456f519.151108","type":"tab","label":"ProMoS NT Example","disabled":false,"info":" * Create a server\n * Select the server-instance in each node where a server is required\n * Deploy it\n * Check the debug-window"},{"id":"e983a29c.3367d","type":"dms-subscribe","z":"b456f519.151108","name":"DMS-Subscribe","server":"f88721d9.a78e","subscribedEvent":"onChange","payload":"[\"System\"]","x":300,"y":160,"wires":[["98833042.af094"]]},{"id":"98833042.af094","type":"dms-value","z":"b456f519.151108","action":"subscribe, event","key":"value","path":"System:Time","x":600,"y":160,"wires":[["8ff321fe.5723e"]]},{"id":"8ff321fe.5723e","type":"debug","z":"b456f519.151108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":160,"wires":[]},{"id":"58257c3d.dc7d24","type":"dms-handler","z":"b456f519.151108","name":"","server":"f88721d9.a78e","payload":"{\"whois\":\"MyServiceName\",\"user\":\"\",\"subscribe\":[{\"path\":\"System\",\"event\":\"onChange\",\"query\":{\"maxDepth\":0}}]}","x":300,"y":260,"wires":[["1e3fe47b.3689ec"]]},{"id":"1e3fe47b.3689ec","type":"dms-value","z":"b456f519.151108","action":"subscribe, event","key":"value","path":"System:Time","x":600,"y":260,"wires":[["8ff321fe.5723e"]]},{"id":"f88721d9.a78e","type":"dms-server","z":"","host":"localhost","port":"9020","path":"/json_data"}]